@font-face {
    font-family: Aileron;
    src: url(https://fontlibrary.org/face/aileron);
  }

.Geral {
    /* margin-right: 20px; */
    font-family: Aileron;
    width: 60%;
    color: black;
}


.form {  
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.span-name{
      width: 100%; 
}

.input-nome {
    width: 100%; 
    margin-bottom: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #00798a;
}

.div_number-email{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.span-number{
    margin-right:15px;
    width: 180px; 
    flex-grow: 1;
    flex-shrink: 1;
}

  .input-number {
    width: 100%; 
    margin-bottom: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #00798a;
}

.span-email{
    width: 180px; 
    flex-grow: 1;
    flex-shrink: 1;
}

.input-email {
    width: 100%; 
    margin-bottom: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #00798a;
}

.span-text{
    width: 100%;
}

.input-text {
    width: 100%;
    border-width: thin;
    border-style: solid;
    border-color: #00798a;
}


.linksButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0px;
    height: 25px;
    padding-left: 0;
}

.linksButton li{
    display: block;
}

.li_PoliticaDados{
    width: 30%;
    font-size: 10px;
    height: 15px;
    margin:auto;
    margin-top:0px;
    margin-bottom: 0;
}

.li_Web_Developer{
    width: 50%;
    font-size: 10px;
    height: 15px;
    margin:auto;
    margin-top:0px;
    margin-bottom: 0;
} 

.li_PoliticaDados a{
   color:white !important;
   font-weight: bold;
   position: absolute;
  
}

.li_Web_Developer a{
    color:white !important;
    font-weight: bold;
    position: absolute;
   text-decoration: underline;
}

.li-button{
    vertical-align: middle;
    text-align: right;  
    width: 20%;
    opacity: 0.8;
    margin-bottom: 5px;
    justify-content: flex-end;
    /* text-align: left; */
}

.button{
    border-width: 0;
    color:white !important;
    font-weight: bold;
    background-color: black;
    font-size: 16px;
    width: 80px;
    opacity: 0.6;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.button:hover{
    font-weight: bold;
}

  