@font-face {
  font-family: Aileron;
  src: url(https://fontlibrary.org/face/aileron);
}

.mainLink a{
  width: 100%;
  height: 42px;
  padding-left: 20px;
  color:white !important;
  background-color: #00798a;
  font-family: Aileron;
  font-weight:7000;
  font-size: 35px;
  vertical-align: text-top;
  position: fixed;
  top:0;
  left:0; 
}

.mainLink a:hover{
  text-decoration: none;
}


.BackSidebar {
  padding-top: 45px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgb(231, 224, 224);
  opacity: 0.4;
  box-shadow: 5px 5px 9px 3px rgb(177, 177, 177);
  align-items: center;
  z-index: 1;
}


.BackSidebar .nav {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.BackSidebar a {
  text-align: start;
  padding: 6px 15px 6px 30px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 0.06em;
  color:black !important;
  opacity: 1;
  font-size: 18px;
  font-family: Aileron;
  font-weight: bold;
  padding-bottom: 50px;
}

.BackSidebar a:hover {
  background-color: rgb(220, 220, 220);
  text-decoration: none;
}


@media(max-width: 768px) {
  .BackSidebar .nav {
    width: 130px;
  }
  .BackSidebar .nav-link {
    padding-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 130px;
    font-size: 12px;
    letter-spacing: 0.04em;
  }
}