@font-face {
    font-family: Aileron;
    src: url(https://fontlibrary.org/face/aileron);
  }

.Main{
    margin-top: 85px;
    font-family: Aileron !important;
    margin-bottom: 170px;
}

.estrutura{
    margin-left:100px;
    margin-right: 100px;
    text-align: justify;
}

.titulo{
font-size: 22px;
font-weight: bold;
}

@media(max-width:1100px){
    .estrutura{
      margin-left:50px;
      margin-right: 50px;  
    }
  }

@media(max-width:650px){
   .estrutura{
     margin-left:30px;
     margin-right:30px;  
   }
 } 
  @media(max-width:400px){
    .estrutura{
      margin-left:25px;
      margin-right:25px;  
    }
  }    

